<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>
<body>
    <div class="image">
        <img src="/images/uploads/<%=post.image%>" alt="">
    </div>
</body>
</html>